<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>NDA Result</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="../static/index.css" />
  <!-- <script src="../static/index.js"></script> -->
</head>

<body>
  <h1>NDA Result</h1>
  <table id="result-table">
    <tr>
      <th>Question</th>
      <th>Answer</th>
    </tr>
  </table>

  <script>
    let jsonData = JSON.parse('{{ data | tojson | safe}}');

    const resultTable = document.getElementById("result-table");

    const jsonDataKeys = Object.keys(jsonData);
    let counter = 0;
    let row = [];
    jsonDataKeys.map(item => {
      const tr = document.createElement("tr");
      const td_1 = document.createElement("td");
      const td_2 = document.createElement("td");

      if (item.includes("question")) {
        td_1.appendChild(document.createTextNode(jsonData[item]));
        row.push(td_1);
        counter++;
      }

      if (item.includes("answer")) {
        td_2.appendChild(document.createTextNode(jsonData[item]));
        row.push(td_2);
        counter++;
      }

      if (counter === 2) {
        row.reverse().map(node => tr.appendChild(node));

        resultTable.appendChild(tr);
        counter = 0;
        row = [];
      }
    });


  </script>
</body>

</html>